.idea
conf
licenses
tmp
.bitnamimeta
bnconfig
updateip

*.log
*.cvs
*.bak
*.swp
htdocs/.DS_Store
htdocs/.svn
htdocs/Thumbs.db
htdocs/wp-config.php
htdocs/wp-content/uploads/
htdocs/wp-content/upgrade/
htdocs/wp-content/backup-db/
htdocs/wp-content/advanced-cache.php
htdocs/wp-content/wp-cache-config.php
htdocs/wp-content/cache/*
htdocs/wp-content/cache/
htdocs/wp-content/backups/
htdocs/sitemap.xml
htdocs/sitemap.xml.gz
htdocs/.htaccess

